hr {
	border-top: 1px solid #CCC !important;
}

h3 {
	font-size: 18px !important;
}

header {
	margin-top: 2px !important;
    border-bottom: 1px solid #CCC !important;
}

div.targets {
    display:none;
}

div.no_sla_explanation {
    display:none;
}

p.history_complete {
	display:none;
}

span#breach.type {
	border-style: solid;
    border-radius: 3px;
	color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #b9484a;
    background-color: #b9484a;
}

span#fulfill.type {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #468847;
    background-color: #468847;
}

span.metric_stage {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #3A87B0;
    background-color: #3A87B0;
}

span.breach_at_breach {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #B94A48;
    background-color: #B94A48;
}

span.breach_at_breach_success {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #468847;
    background-color: #468847;
}

span.sla_policy_applied {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #3A87B0;
    background-color: #3A87B0;
}

span.bottom_label {
    cursor: pointer;
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #999999;
    background-color: #999999;
}

span.bottom_label:hover {
  background-color: #3D3D3D;
  color: white;
  border-color: #3D3D3D;
}

#goback {
    cursor: pointer;
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #3898cc;
    background-color: #3898cc;
}

#goback:hover {
  background-color: #256d94;
  color: white;
  border-color: #256d94;
}

#glossary {
    cursor: pointer;
}

p.definition1 {
	display:none;
}

p.definition2 {
    display:none;
}

p.definition3 {
    display:none;
}

p.definition4 {
    display:none;
}

p.definition5 {
    display:none;
}

p.definition6 {
    display:none;
}

p.definition7 {
    display:none;
}

p.definition8 {
    display:none;
}

p.definition9 {
    display:none;
}

p.definition10 {
    display:none;
}

p.definition11 {
    display:none;
}

p.definition12 {
    display:none;
}

p.definition13 {
    display:none;
}

p.definition14 {
    display:none;
}

p.definition1 {
    display:none;
}

p.definition15 {
    display:none;
}

p.definition16 {
    display:none;
}

p.definition17 {
    display:none;
}

p.definition18 {
    display:none;
}

p.definition19 {
    display:none;
}

p.definition20 {
    display:none;
}
