#loading_icon {
    height: 80px; 
    width: 80px; 
    margin-bottom:-10px; 
    margin-top:-20px;
}

#alert_icon {
    height: 80px; 
    width: 80px; 
    margin-bottom: -30px; 
    margin-top: -5px; 
    margin-right: -30px;
}

#target_icon, #glossary_icon {
    height: 80px; 
    width: 80px; 
    margin-bottom:-20px; 
    margin-top:-20px;
}

hr {
    border-top: 1px solid #CCC !important;
}

h3 {
    font-size: 18px !important;
}

header {
    margin-top: 2px !important;
    border-bottom: 1px solid #CCC !important;
}

div.targets {
    display:none;
}

div.targets > p, div.targets > a {
    width: 290px;
    margin-left: 15px;
}

div.no_sla_explanation {
    display:none;
}

p.history_complete {
    display:none;
}

span#breach.type {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #b9484a;
    background-color: #b9484a;
}

span#fulfill.type {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #468847;
    background-color: #468847;
}

span.metric_stage {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #3A87B0;
    background-color: #3A87B0;
}

span.breach_at_breach {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #B94A48;
    background-color: #B94A48;
}

span.breach_at_breach_success {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #468847;
    background-color: #468847;
}

span.sla_policy_applied {
    border-style: solid;
    border-radius: 3px;
    color: white;
    border-width: 3px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: #3A87B0;
    background-color: #3A87B0;
}

span.bottom_label {
    cursor: pointer;
    border-style: solid;
    border-radius: 4px;
    color: #555;
    border-width: 1px;
    border-color: #ddd;
    background-color: #fff;
    padding: 5px;
}

span.bottom_label:hover {
  background-color: #fafafa;
  color: #999;
  border-color: #ccc;
}

#goback {
    cursor: pointer;
    border-style: solid;
    border-radius: 4px;
    color: white;
    border-width: 1px;
    border-color: #5EBBDE;
    background-color: #5EBBDE;
    padding: 5px;
}

#goback:hover {
  background-color: #6AABC4;
  color: #FBFBFB;
  border-color: #6AABC4;
}

#glossary {
    cursor: pointer;
}

p.definition1 {
    display:none;
}

p.definition2 {
    display:none;
}

p.definition3 {
    display:none;
}

p.definition4 {
    display:none;
}

p.definition5 {
    display:none;
}

p.definition6 {
    display:none;
}

p.definition7 {
    display:none;
}

p.definition8 {
    display:none;
}

p.definition9 {
    display:none;
}

p.definition10 {
    display:none;
}

p.definition11 {
    display:none;
}

p.definition12 {
    display:none;
}

p.definition13 {
    display:none;
}

p.definition14 {
    display:none;
}

p.definition1 {
    display:none;
}

p.definition15 {
    display:none;
}

p.definition16 {
    display:none;
}

p.definition17 {
    display:none;
}

p.definition18 {
    display:none;
}

p.definition19 {
    display:none;
}

p.definition20 {
    display:none;
}
